input[type="number"]{
	max-width: 80%;
}

div.outer{
	position: fixed;
	top: 51px;

	left: 350px;
	right: 0px;
	bottom: 0;
	
	overflow: visible;
	padding: 0;
	min-width: 700px;
}

/*fonts*/
body, label, input, button, select{
	font-family: 'Helvetica Neue', Helvetica;
	font-weight: 200;
}

h1, h1, h3, h4 {font-weight: 400;}

.nav{
	/*padding-left: 0px;*/
	/*padding-right: 0px;*/
	border-left: 2px ;
	border-right: 2px ;
}

.navbarPage{
	border-left: 2px solid red;
}
.navbar-brand{
	padding-top:7px;
}

#cite{
	position: absolute;
	bottom: 0px;
	left: 5px;
	font-size: 12px;
}

/* If not using map tiles, show a white background */
.leaflet-container{
	background-color: white !important;
}
#legend{
	/*Appearance*/	
	background-color: white;
	padding: 0px 0px 0px 20px;
	cursor: move;
	/*display: inline-block;*/
}

.dot {
  float:left; 
  margin-right: 20px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
.small_dot{
	height: 8px;
	width: 8px;
}
.refname{
    text-decoration: underline;
    text-decoration-color: #d26f6f;
}

/*Legend arrow created with css*/
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  opacity: 0.5;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Language button */
#languageButtonDiv{
	position: absolute;
    z-index:1002;
    top: 8px;
    right: 76px;
}
#topLogo{
	position: absolute;
    z-index:1002;
    top: 8px;
    right: 76px;
}
@media (min-width: 768px) {
    #languageButtonDiv {
        right: 5px;
    }
}
@media (max-width: 420px) {
    #languageButtonDiv {
        right: 5px;
        top:56px;
    }
}

.button_ui{
	margin: auto;
	width: 100%;
	/*border: 3px solid green;*/
	padding: 10px;
}
.vertical-center {
  margin: auto;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.paragraph-large {
    max-width:600px;
    margin:auto;
    text-align: justify;
    text-justify: inter-word;
}
#controlsScenario {
    display:flex;
    flex-direction:column;
	/*Appearance*/	
	background-color: white;
	padding: 10px;
	cursor: move;
	min-width: 280px; 
	bottom : 0px;
}
#climateParameters {
    margin-bottom:0;
}

/* Tooltips */

.tooltip-perso {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip-perso .tooltiptext-perso {
  visibility: hidden;
  width: auto;
  background-color: white; /*black;*/
  color: black ; /*#fff;*/
  border: 1px solid #9785c9;
  text-align: center;
  border-radius: 6px;
  padding: 5px 3px;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -50%;
}
.tooltip-perso .tooltiptext-perso::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #9785c9 transparent transparent transparent;
}
.tooltip-adjust {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted white;
}

.tooltip-perso:hover .tooltiptext-perso {
  visibility: visible;
}
.container-fluid {
    padding-left:5px;
    padding-right:5px;
}

/* according to 
 * https://www.c17e.com/creer-une-popin-responsive-sans-javascript/
 * */ 
.smart-popin {
    position: fixed;
    left: 0; right: 0;
    top: 0; bottom: 0;
    overflow: auto; /* scrollbar will appear if the viewport is too tight to display all the popin content */
    opacity: 0;
    visibility: hidden;
  
    /* design */
  
    background-color: rgba(0,0,0,0.5);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 1000;
}
.smart-popin:target {
    opacity: 1;
    visibility: visible;
}
.smart-popin .sp-table {
    display: table;
    height: 100%;
    width: 100%;
}
.smart-popin .sp-cell {
    display: table-cell;
    vertical-align: middle;
    padding: 10px; /* this space is important to let the box-shadow exceed around the popin - so it has to be at least equal to the shadow radius */
}
.smart-popin .sp-body {
    position: relative; /* to allow absolute positionning inside */
    z-index: 1; /* to ensure the popin body will be over the .sp-back layer */
    min-width: 300px;  /* standard width for xs smartphones (320px) minus 2*10px (.sp-cell margins) */
    margin: 0 auto;
  
    /* design */
  
    background-color: #ffffff;
    padding: 2em;
    -webkit-box-shadow: 0 3px 5px 1px rgba(0,0,0,0.25);
    box-shadow: 0 3px 5px 1px rgba(0,0,0,0.25);
    width: 90%; 
    text-align:center;
}
.smart-popin .sp-body * {
    max-width: 100%; /* this is a security to prevents wide elements such as img to stretch the popin beyond the viewport width */
    max-height: 90vh;
    margin:auto;
}
.smart-popin .sp-back { /* only used to get clicks out of the popin body */
    position: fixed;
    left: 0; right: 0;
    top: 0; bottom: 0;
    display: block;
}
.smart-popin .sp-close {
    position: absolute;
    top: 0;
    right: 0;

    width: 36px;
    height: 36px;

    text-align: center;
    line-height: 36px;
    font-size: 1.6em;
    color: #000000;
    font-weight: 900;
    text-decoration: none;
}

.waiting{
    cursor:wait;
}


